{{ if header === 'none' or header === '' }}
    <header class="relative mx-auto w-full 3xl:container h-[420px] lg:h-[640px] pb-[110px] lg:pb-[180px]">
        <div id="header-title" class="flex h-full justify-center items-end text-45 lg:text-90 font-NewRailAlphabetBold">
            <h1 class="object-center">{{ title }}</h1>
        </div>
    </header>
{{ /if }}

{{ if header === 'image' }}
    <header class="mx-auto w-full h-screen lg:aspect-video">
        {{ header_image }}
            <img class="object-cover w-full h-full" style="{{ if focus_css != "" }} object-position: {{ focus_css }} {{ /if }}" src="{{ url }}" alt="{{ alt }}">
        {{ /header_image }}
        <div id="header-title" class="absolute inset-0 flex justify-center items-center z-10 text-45 lg:text-90 font-NewRailAlphabetBold text-white">
            <h1 class="object-center">{{ title }}</h1>
        </div>
    </header>
{{ /if }}

{{ if header === 'carousel' }}
    <div class="slider-background-color">
    <header class="pt-60 pb-[110px] lg:pt-[400px] lg:pb-[180px] text-center">
        <h1 data-slideshowtitle="{{ title }}" class="page-copy-color text-45 lg:text-90 font-NewRailAlphabetBold">{{ title }}</h1>
    </header>
    <div id="slider" class="swiper">
        <div class="swiper-wrapper h-screen w-full">
            {{ image_carousel }}
                    <div class="swiper-slide bg-cover bg-center" style="background-image: url({{ url }}); {{ if focus_css != "" }} background-position: {{ focus_css }} {{ /if }}"></div>

            {{ /image_carousel}}
        </div>
        <div class="swiper-pagination slider-background-color"></div>
    </div>
    </div>
{{ /if }}

{{ if header === 'slideshow' }}
    <div id="slider" class="swiper">
        <div class="swiper-wrapper h-screen w-full">
        {{ slideshow }}
            {{ slides }}
            <div class="swiper-slide bg-cover bg-center flex flex-col" style="background-image: url({{ image }}); {{ if image:focus_css != "" }} background-position: {{ image:focus_css }} {{ /if }}">
                <header class="grow flex justify-center items-center">
                    <h1 class="text-center text-45 lg:text-90 font-NewRailAlphabetBold" style="color:{{ copy_color }}">{{ copy }}</h1>
                </header>
                <main class="absolute bottom-0 h-24 global-x" style="color:{{ link_color }}">
                    {{ project_link }}
                        <h4 class="uppercase text-15">{{ collection | upper }}</h4>
                        <a href="{{ url }}" class="text-25 hover:opacity-80" >{{ title }}</a>
                    {{ /project_link }}
                </main>
            </div>

            {{ /slides}}
        {{ /slideshow }}
        </div>
        <div class="swiper-pagination slider-background-color"></div>
{{#         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> #}}
    </div>
{{ /if }}
