{{ if header === 'none' or header === '' }}
    <header class="relative mx-auto w-full 3xl:container h-[420px] pb-[110px]">
        <div id="header-title" class="flex h-full justify-center items-end text-45 lg:text-90 font-NewRailAlphabetBold">
            <h1 class="object-center">{{ title }}</h1>
        </div>
    </header>
{{ /if }}
{{ if header === 'image' }}
    <header class="mx-auto w-full h-screen lg:aspect-video">
        {{ header_image }}
            <img class="object-cover w-full h-full" src="{{ url }}" alt="{{ alt }}">
        {{ /header_image }}
        <div id="header-title" class="absolute inset-0 flex justify-center items-center z-10 text-45 lg:text-90 font-NewRailAlphabetBold text-white">
            <h1 class="object-center">{{ title }}</h1>
        </div>
    </header>
{{ /if }}
{{ if header === 'carousel' }}
<div class="slider-background-color">
<header class="p-20 pt-60 text-center">
    <h1 data-slideshowtitle="{{ title }}" class="text-black text-90">{{ title }}</h1>
</header>
<div id="slider" class="swiper">
    <div class="swiper-wrapper h-screen w-full">
        {{ image_carousel }}
                <div class="swiper-slide bg-cover bg-center" style="background-image: url({{ url }});"></div>

        {{ /image_carousel}}
    </div>
    <div class="swiper-pagination slider-background-color"></div>
</div>
</div>
{{ /if }}

{{ if header === 'slideshow' }}
<div id="slider" class="swiper">
    <header class="absolute inset-0 z-10">
        <h1 data-slideshowtitle="{{ title }}" class="absolute responsive-px top-2/4 type-size-1 page-text-color"></h1>
    </header>
    <div class="swiper-wrapper h-screen w-full">
    {{ slideshow }}
        {{ slides }}
                <div class="swiper-slide bg-cover bg-center" data-title="{{ copy }}" data-subtitle="{{ slide_subtitle }}" style="background-image: url({{ image }});"></div>

        {{ /slides}}
    {{ /slideshow }}
    </div>
    <div class="swiper-pagination"></div>
</div>
{{ /if }}
