<main class="p-0 lg:py-20 mx-auto w-full grid grid-cols-1 md:gap-12 md:grid-cols-2 lg:gap-12 lg:grid-cols-12 lg:px-12 text-black">
    {{ collection from="stones" }}
    <article class="relative lg:col-span-4 aspect-[3/2] hover:opacity-80">
        <a href="{{ url }}">
            <header class="page-background-color absolute bottom-0 aspect-square h-3/5 z-10 p-5 text-18"><h3 class="">{{ title }}</h3></header>
{{#             <div class="relative" style="padding-bottom: 75%"> #}}
               {{#  {{ preview_image }}
                <img class="absolute w-full h-full object-cover" src="{{ url }}" alt="{{ alt }}">
            {{ /preview_image }} #}}
            {{
                partial:components/picture
                :image="preview_image"
                parentclass=""
                class=""
                cover="true"
                lazy="true"
                sizes="
                    {{ switch(
                        (size == 'md') => '(min-width: 768px) 55vw, 90vw',
                        (size == 'lg') => '(min-width: 768px) 75vw, 90vw',
                        (size == 'xl') => '90vw',
                        () => '100vw'
                    )}}
                "
            }}
{{#         </div> #}}
        </a>
    </article>
    {{ /collection }}

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}

</main>
