{{ partial:partials/header}}

<main>
{{#     {{ collection from="projects" }}
    <div class="break-inside-avoid-column">
        <a href="{{ url }}">
            {{ preview_image }}
            <img class="w-full" src="{{ url }}" alt="">
            {{ /preview_image }}
            <h2 class="pt-5 pb-14">{{ title }}</h2>
        </a>
    </div>
    {{ /collection }} #}}

    <div class="masonry">
        <div class="masonry-sizer"></div>
        {{ collection from="projects" }}
        <div class="masonry-item">
            <a href="{{ url }}" class="hover:opacity-80">
                {{ preview_image }}
                <img class="w-full" src="{{ url }}" alt="">
                {{ /preview_image }}
                <h2 class="pt-5 pb-14">{{ title }}</h2>
            </a>
        </div>
        {{ /collection }}
    </div>
</main>
