{{ partial:partials/header}}

  <div class="masonry">
      <div class="masonry-sizer"></div>
      {{ content_builder scope="block" }}
        {{ partial src="content_builder/{type}" }}
      {{ /content_builder }}
    </div>
    <div class="flex justify-between items-end global-x pb-20">
      <div>
        {{ partial:partials/social}}
      </div>
      <div>
        {{ collection:next in="projects" as="projects" limit="1"}}
          {{ projects }}
            <div class="post">
              <a href="{{ url }}">Next Project &rarr;</a>
            </div>
          {{ /projects }}
        {{ /collection:next }}
      </div>
    </div>
