{{ partial:partials/header}}

  <div class="masonry">
      <div class="masonry-sizer"></div>
      <div class="masonry-item">After a total refurbishment by leading architects, Tim Flynn
          architects, this 8-storey town house is arguably one of London’s
          finest residences. British stone was used throughout the house
          including each step and rise of the 169 step circular staircase.
          The main bathroom used the very rare Ball Eye Blue creating a
          sublime and restful space, whilst another had a basin carved from
          a solid block of Ashburton which was offset by a complementary
          stone floor and wall panels.</div>
      <div class="masonry-item right"><img src="/assets/project_content_1.png" alt=""></div>
      <div class="masonry-item"><img src="/assets/project_content_2.png" alt=""></div>
      <div class="masonry-item">After a total refurbishment by leading architects, Tim Flynn
          architects, this 8-storey town house is arguably one of London’s
          finest residences. British stone was used throughout the house
          including each step and rise of the 169 step circular staircase.
          The main bathroom used the very rare Ball Eye Blue creating a
          sublime and restful space, whilst another had a basin carved from
          a solid block of Ashburton which was offset by a complementary
          stone floor and wall panels.</div>
    </div>

{{ collection:next in="projects" as="projects" limit="1"}}
  {{ projects }}
    <div class="post">
      <a href="{{ url }}">Next Project</a>
    </div>
  {{ /projects }}
{{ /collection:next }}
