<footer class="w-full grid grid-cols-1 gap-14 lg:grid-cols-3 bg-white py-14 global-x">

    <div>
        <h4 class="uppercase pb-3 text-15">Contact</h4>
        <address class="not-italic leading-5">
            Britannicus Stone <br>
            Unit 24<br>
            Chelsea Wharf<br>
            15 Lots Road<br>
            London SW10 0QJ<br>
            <br>
            <a class="pt-1" href="tel:02077515962">020 7751 5962</a><br>
            <a href="mailto:info@britannicus-stone.co.uk">info@britannicus-stone.co.uk</a>
        </address>
    </div>
    <div>
        <h4 class="uppercase pb-3 text-15">Social</h4>
        {{ if social_media:social_media }}
            <div class="flex flex-col text-20 leading-5"">
                {{ social_media:social_media }}
                    <a class="p-1 -m-1 text-neutral hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary" href="{{ prefix }}{{ handle }}" rel="noopener" aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}" target="_blank">{{ type | title }}</a>
                {{ /social_media:social_media }}
            </div>
        {{ /if }}

    </div>
    <div class="row-span-2">
        <h4 class="uppercase pb-3 text-15">Sample Request</h4>
        <p class="leading-5">Send us your sample requirements and we'll get back to you</p>

        <form action="" class="flex flex-col">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <button>Submit</button>
        </form>




    </div>
    <div class="self-end  order-last lg:order-none">
        {{ svg src="britannicus_logomark" class="w-14" }}
    </div>
    <div class="self-end">
        <span>
            &copy; {{ configuration:copyright_since }}
            {{ unless (now | format('Y')) == configuration:copyright_since }}
                - {{ now | format('Y') }}
                {{ /unless }}
            {{ configuration:copyright_name ?? config:app:name }}
        </span>
    </div>



</footer>
