@font-face {
  font-family: 'NewRailAlphabet';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/NewRailAlphabet2021-MediumWEB.woff2') format('woff2'),
    url('../fonts/NewRailAlphabet2021-MediumWEB.woff') format('woff');
}
@font-face {
  font-family: 'NewRailAlphabetBold';
  font-style: bold;
  font-display: swap;
  src: url('../fonts/NewRailAlphabet2021-BoldWEB.woff2') format('woff2'),
    url('../fonts/NewRailAlphabet2021-BoldWEB.woff') format('woff');
}

@layer base {
  html {
    font-family: NewRailAlphabet, system-ui, sans-serif;
  }
}
