@import "tailwindcss/base";
@import "custom";
@import "tailwindcss/components";
@import "fonts";
@import "tailwindcss/utilities";


/* **************************************************************** */
/* Nav and Logo */
/* **************************************************************** */

html {
    @apply text-black
  }

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-rendering: optimizelegibility;
}

body.home {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 66.1 85.4' style='fill: %23D3D0CC'%3E%3Cg%3E%3Cpath d='M66.1 43.3C63.3 40 50.3 27.1 45.3 23.8c-0.4-0.3-0.2-0.9-0.1-1.6c0-0.1 0-0.3-0.2-0.3c-2.3-0.9-5-1.5-7.7-1.5c-9 0-19.6 6.1-19.6 18.1c0 3.5 1.6 7.1 3.4 9.9c0.1 0.2 0.5 0.1 0.5-0.1c0.2-3.5 2.9-19.5 20.6-20.5c0.7 0 1.5 0 2.2 0.1l0 0c-8 0.4-15.6 4.5-18.7 14.3c-0.6 1.9-1 3.9-1.3 6c-0.2 1.3-0.3 3.2-0.3 3.8c0 0.5 0.1 0.8 0.3 1c0.8 1.1 1.9 1.9 3.3 2.8c0.1 0.1 0.3 0 0.3-0.1c0.1-0.2 9.7-14.2 25.6-14.2c4.2 0 8.3 1 11.8 2.4C66.1 44.1 66.6 43.8 66.1 43.3z'/%3E%3Cpath d='M11.8 73.6c0 0-0.1 0.1 0 0.2s0.3 0 0.3 0c7.6-3.8 10.6-7.1 9.9-14.4c-0.8-8.9-7.2-11.8-7.2-21.7c0-10.6 7.1-20.5 22.6-20.5c2.9 0 5.8 0.5 8.3 1.6c0.1 0.1 0.2 0 0.2-0.1l0 0c1.2-4.6 3.6-8.8 6.8-12.2c0.2-0.3 0.2-0.5 0-0.6C47.2 2.2 40.6 0 32.9 0C16.3 0 0 12.3 0 31.2C0 49.4 12.5 53.6 14.1 63C14.8 67.1 14.1 71.6 11.8 73.6z'/%3E%3Cpath d='M17 73.6c-1.3 0.7-1.9 0.9-2.2 1.1c-0.8 0.3-0.4 0.4 0.4 0.5c0.4 0.1 0.9 0.1 2 0.1c10.8 0.5 17.3-6 23.1-15.4c0.2-0.3 0.3-0.3 0.1 0c-2 5.1-4.5 9.3-8.6 12.9c-0.1 0-0.1 0.2 0.1 0.2c0.5-0.1 1.5-0.2 2.3-0.2c8.1 0 13.7 4.8 15.2 12.4c0 0 0 0.1 0.1 0.1s0.1-0.1 0.1-0.1c-0.9-3.9-1.3-7.9-1.3-12c0-1.8 0.1-3.6 0.3-5.4c0-0.2 0-0.3-0.2-0.4c-0.6-0.5-2.3-2-2.6-2.3c-0.4-0.4-0.8-1-0.2-0.8s4.7 1.6 8.3 2c3.6 0.3 3.8-0.7 3.9-1.1c0.2-0.5-0.2-1.5-0.3-2.1c-0.1-0.5-0.1-1.4 0.3-1.7c0.3-0.3 0.7-0.5 0.8-0.7c0.1-0.4-0.2-0.7-0.3-0.9c-0.1-0.1-0.2-0.4 0.1-0.5s0.8-0.5 0.9-0.7c0-0.2-0.3-0.9-0.4-1.2c-0.1-0.3 0-0.6 0.2-0.8s1.5-0.2 1.8-0.4s0.6-0.5 0.4-1c-0.1-0.5-2.4-5.3-2.5-6.4c-0.1-1.1 0-1.7 0.5-2.3c0.6-0.8 0.9-1.2 1.2-1.9c0.1-0.1 0.1-0.3-0.1-0.3c-2-0.5-4.1-0.8-6.4-0.8c-11.9 0-20.9 9-24.1 13.4c-0.1 0.2-0.2 0.4-0.3 0.7C27.7 63.3 22.4 70.9 17 73.6z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position:0% 40vh;
    background-repeat: no-repeat;
    @apply bg-[length:100%] lg:bg-[length:50%];
}

.global-x {
    @apply px-5 lg:px-12;
}

/* #logo {
    @apply flex flex-col items-center;
} */

#logo {
    @apply lg:pr-12;
}

#logoface {
    @apply w-[40px] fill-white transition-all duration-500;
}

#logotype {
    @apply w-[122px] mt-3 fill-white transition-all duration-500;
}
.hamburgerOuter {
    @apply text-white;
}

#hamburger {
    @apply fill-white;
    width: 30px;
}


/* #hamburger rect {
  @apply fill-joy-yellow;
} */

nav .logoOuter {
    @apply justify-center;
}

nav.scrolled .logoOuter{
    @apply pt-7 w-1/2 md:w-1/3 justify-start md:justify-center bg-brit-navbackground;
}

nav.scrolled .hamburgerOuter {
    @apply pt-7 w-1/2 md:w-1/3  bg-brit-navbackground;
}

nav.scrolled .image {
    @apply pt-7 w-0 md:w-1/3 md:bg-transparent;
}

nav.scrolled #logoface {
    @apply w-[40px] fill-white;
}
nav.scrolled #logotype {
    @apply w-0;
}
nav.scrolled .hamburgerOuter {
    @apply text-white;
}
nav.scrolled #hamburger {
    @apply fill-white;
}

#logoface.active, #logotype.active {
    @apply fill-white;
}

.hamburgerOuter.active {
    @apply text-white;
}

#hamburger.active {
    transform: rotate(180deg);
}
#hamburger.active rect {
    @apply fill-white;
}
#hamburger.active .first, #hamburger.active .third {
    @apply opacity-0;
}

.navigation_image {
    @apply bg-cover bg-center;
}

#mobile-logoface {
    @apply absolute top-7 w-[36px] fill-white;
}

.page-background-color {
    background-color: #d9d8d4;
}

.page-decorator-color {
    @apply decoration-black/50;
}

header h1 {
    @apply text-white;
}

p {
    @apply pb-10;
}

h1 p {
    @apply pb-0;
}


/* **************************************************************** */
/* Swiper */
/* **************************************************************** */

.swiper-pagination {
    display: table;
    @apply px-5
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    width: auto;
    @apply mx-5 lg:mx-12;
    right: 0;
    left: auto;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    @apply mt-4 mb-1 ml-3 mr-3;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    opacity: 0.3;
    @apply bg-black;
    display: inline-block;
}

/* .index .swiper-pagination-bullet {
    @apply bg-joy-yellow;
}
.commercial .swiper-pagination-bullet {
    @apply bg-joy-pink;
}
.content .swiper-pagination-bullet {
    @apply bg-joy-turquoise;
}
.classics .swiper-pagination-bullet {
    @apply bg-joy-crimson;
}
.blog .swiper-pagination-bullet {
    @apply bg-joy-gold;
} */

.swiper-pagination-bullet-active {

    opacity: 1;
}

/* .masonry {
    @apply w-full;
} */

.masonry-sizer, .masonry-item {
    @apply w-full md:w-1/2;
}
.masonry-item {
    @apply p-5 md:p-12;
}
.masonry-item.left {
    @apply pl-5 md:pl-0;
}
.masonry-item.right {
    @apply pr-5 md:pr-0;
}
.masonry-item-full {
    @apply w-full;
}
/* .gutter-sizer { width: 4%; } */

.masonry .video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.masonry .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply p-5 md:p-12;
}

  .fi {
      grid-area: fi;
  }
  .se {
      grid-area: se;
  }
  .th {
      grid-area: th;
  }

  .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
            "fi"
            "se"
            "th";
  }
  @media (min-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
              ".  .  .  .  .  .  fi fi fi fi fi fi"
              ".  .  .  .  .  .  fi fi fi fi fi fi"
              "se se se se .  .  fi fi fi fi fi fi"
              "se se se se .  .  fi fi fi fi fi fi"
              "se se se se .  .  .  .  th th th th"
              "se se se se .  .  .  .  th th th th"
              "se se se se .  .  .  .  th th th th"
              ".  .  .  .  .  .  .  .  th th th th"
              ".  .  .  .  .  .  .  .  th th th th"
              ".  .  .  .  .  .  .  .  th th th th";
    }
  }
