@import "tailwindcss/base";
@import "custom";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* **************************************************************** */
/* Nav and Logo */
/* **************************************************************** */

.global-x {
    @apply px-5;
}

/* #logo {
    @apply flex flex-col items-center;
} */

#logoface {
    @apply w-[36px] fill-white transition-all duration-500;
}

#logotype {
    @apply w-[122px] mt-3 fill-white transition-all duration-500;
}

#hamburger {
    @apply fill-white;
    width: 30px;
}
#hamburger.active {
    transform: rotate(180deg);
}

/* #hamburger rect {
  @apply fill-joy-yellow;
} */

nav .logoOuter {
    @apply justify-center;
}

nav.scrolled .logoOuter{
    @apply pt-7 w-1/2 md:w-1/3 justify-start md:justify-center bg-brit-navbackground;
}

nav.scrolled .hamburgerOuter {
    @apply pt-7 w-1/2 md:w-1/3  bg-brit-navbackground;
}

nav.scrolled .image {
    @apply pt-7 w-0 md:w-1/3 md:bg-transparent;
}

nav.scrolled #logoface {
    @apply w-[36px];
}
nav.scrolled #logotype {
    @apply w-0;
}

#hamburger.active rect {
    @apply fill-white;
}


#mobile-logoface {
    @apply absolute top-7 w-[36px] fill-white;
}

.page-background-color {
    background-color: #d9d8d4;
}
