{{ if image }}
    {{ image }}
    <div class="hidden lg:block" style="height: {{ top_space }}px;"></div>
    <div class="relative w-full global-x py-10">
        <img class="w-full" src="{{ url }}" alt="{{ alt }}">
        {{ if copy }}
        <h2 class="h-full absolute top-0 bottom-0 right-0 left-0 flex justify-center items-center text-center text-45 lg:text-90 font-NewRailAlphabetBold" style="color: {{ copy_color }}">{{ copy }}</h2>
        {{ /if }}
    </div>
    {{ /image }}

    {{ if link }}
    <div class="w-full global-x pb-20">
        <h4 class="uppercase text-15">{{ header }}</h4>
        {{ content }}
            <a href="{{ url }}" class="underline underline-offset-8 decoratin-1 page-decorator-color">{{ if link_text }} {{ link_text }} {{ /else }} {{ title }} {{ /if}}</a>
        {{ /content }}
    </div>
    {{ /if }}
    <div class="hidden lg:block" style="height: {{ bottom_space }}px;"></div>
{{ /if }}
