{{ if image }}
    {{ image }}
    <div class="w-full global-x py-10">
        <img class="w-full" src="{{ url }}" alt="{{ alt }}">
    </div>
    {{ /image }}

    {{ if link }}
    <div class="w-full global-x pb-20">
        <h4 class="uppercase text-15">{{ header }}</h4>
        {{ content }}
            <a href="{{ url }}" class="underline underline-offset-8 decoratin-1 page-decorator-color">{{ if link_text }} {{ link_text }} {{ /else }} {{ title }} {{ /if}}</a>
        {{ /content }}
    </div>
    {{ /if }}

{{ /if }}
