{{ partial:partials/header}}

<div class="slider-background-color mx-auto w-full grid grid-cols-1 md:gap-12 md:grid-cols-2 lg:gap-12 lg:grid-cols-12 lg:px-12 global-x py-20">
    <div class="lg:col-span-6 text-20 lg:text-25 pb-20 lg:pb-0">{{ description }}</div>
    <div class="lg:col-span-2 lg:row-span-2 text-18 lg:text-20">

        {{ if location }}
        <h4 class="uppercase pb-3 text-15">Location</h4>
        {{ location }}
        {{ /if }}

        {{ if marble_thicknesses }}
        <h4 class="uppercase pb-3 text-15 pt-10">Marble Thicknesses</h4>
        {{ marble_thicknesses }}
        {{ /if }}

        {{ if slab_sizes }}
        <h4 class="uppercase pb-3 text-15 pt-10">Slab Sizes</h4>
        {{ slab_sizes }}
        {{ /if }}

        {{ if notes }}
        <div class="pt-10">{{ notes }}</div>
        {{ /if }}

    </div>
    <div class="w-full lg:col-span-4 lg:row-span-2 text-center lg:text-left">
        {{ map }}
            <img class="w-1/2 lg:w-1/2 inline" src="{{ url }}" alt="{{ alt }}">
        {{ /map }}
    </div>
    {{ partial:partials/social}}

</div>

<header class="py-20 text-center">
    <h1 class="text-black text-45 lg:text-90 font-NewRailAlphabetBold">Stones</h1>
</header>
{{ partial:partials/stones}}
