{{ partial:partials/header}}

{{ content_builder }}
  {{ partial src="content_builder/{type}" }}
{{ /content_builder }}

<div class="flex justify-between items-end global-x py-20 lg:text-25">
  <div>
    {{# {{ partial:partials/social}} #}}
  </div>
  <div>
    {{ collection:next in="news" as="news" limit="1"}}
    {{ news }}
    <div class="post">
      <a href="{{ url }}">Next News {{ svg src="arrow" class="ml-2 w-5 lg:ml-3 lg:w-7 page-fill-color inline" }}</a>
    </div>
    {{ /news }}
    {{ /collection:next }}
  </div>
</div>
